#!/bin/bash
# OpenXAL launcher script

export OPENXAL_HOME="{{ openxal_home }}"
export OPENXAL_VERSION="{{ openxal_version }}"
export OPENXAL_LIBRARY="{{ openxal_home }}/lib/openxal.library-{{ openxal_version }}.jar"

java -jar "{{ openxal_home }}/apps/openxal.apps.launcher-{{ openxal_version }}.jar"
